@import "assets/scss/variables.scss";

.simulator {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;

    &__nodeArea {
        height: 100%;
        width: 100%;
        position: relative;
    }
}
