@import "../../assets/scss/variables.scss";

.header {
  height: $header-height;

  background-color: $darkest-shades;
  color: white;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 4;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
