@import "assets/scss/variables.scss";

.tabBar {
    display: flex;
    margin-top: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    .tab {
        padding: 5px;
        border-top: solid 1px $light-accent;
        border-right: solid 1px $light-accent;
        border-left: solid 1px $light-accent;
        background-color: #3741646c;
        color: white;
        border-radius: 5px 5px 0px 0px;
        margin-left: 5px;
        min-width: 80px;
        text-align: center;
        cursor: pointer;

        &--active {
            background-color: $nodeArea-background;
            z-index: 1;
        }
    }
}