.tabBar {
    display: flex;
    margin-top: 5px;

    .tab {
        padding: 5px;
        border-top: solid 2px #646c87;
        border-right: solid 2px #646c87;
        border-left: solid 2px #646c87;
        background-color: #3741646c;
        color: white;
        border-radius: 5px 5px 0px 0px;
        margin-left: 5px;
        cursor: pointer;

        &--active {
            background-color: #374164;
        }
    }
}