.simPortLabel {
    display: flex;
    margin-top: 1px;
    align-items: center;

    &__label {
        padding: 0 5px;
        display: flex;
    }

    &__port {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}