$light-shades: #e2f5ff;
$light-accent: #A2A7B2;
$brand-color: #B6CEDB;
$dark-accent: #849FBC;
$dark-shades: #619bf7;
$darker-shades: #404E67;
$darkest-shades: #333e52;
$red: #f14a4a;
$color: #262828;
$text-gray: #aaaaaa;

$background: #eeeeee;

$node-background: #091336aa;
$node-textcolor: white;
$nodeArea-background: #455aa2;
$nodeSelection-color: #00c0ff;
$node-border: #283c69;
