$light-shades: #e2f5ff;
$light-accent: #A2A7B2;
$brand-color: #B6CEDB;
$dark-accent: #849FBC;
$dark-shades: #619bf7;
$darker-shades: #404E67;
$darkest-shades: #333e52;
$red: #f14a4a;
$color: #262828;
$text-gray: #aaaaaa;

$background: #e0e5ea;

$header-height: 40px;
$sidebar-width: 150px;

$node-background: #1d2f51aa;
$node-textcolor: white;
$nodeArea-background: #374164;
