@import "../../assets/scss/variables.scss";

.sidebar {
  height: 100vh;
  width: $sidebar-width;
  background-color: $darker-shades;
  color: white;
  font-size: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  
  margin-top: $header-height;

  &__node {
    width: 100%;
  }
}
