@import "assets/scss/variables.scss";

.dragElement {
    border: solid 1px gray;
    padding: 5px;
    background-color: $node-background;
    color: white;
    cursor: move;
    margin: 2px;
    margin-right: 5px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.37);
    
    &__grip {
        content: '....';
        width: 10px;
        height: 20px;
        display: inline-block;
        overflow: hidden;
        line-height: 5px;
        padding: 3px 4px;
        cursor: move;
        vertical-align: middle;
        margin-top: -.7em;
        margin-right: .3em;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: #cccccc;
        text-shadow: 1px 0 1px black;
        float: right;

        &::after {
            content: '.. .. .. ..';
        }
    }
}