@import "assets/scss/variables.scss";

.sideComponents {
    width: 300px;
    padding: 5px;

    &__container {
        display: grid;
        padding: 10px;
        font-size: 14px;

        &__header {
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}